
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.2/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer1 */
.ui-content.startScreen_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* takeaphoto */
#startScreen_takeaphoto {

}
.ui-btn.startScreen_takeaphoto {
	margin: 4px 5px 4px 5px;
}
/* photopreview */
.startScreen_photopreview {
	margin: 4px 0px 4px 0px;
	width: 292px; height: 273px;
	display: block;
}
/* mobilelink_22 */
.startScreen_mobilelink_22 {
	margin: 30px 0px 4px 0px;
	display: block;
	vertical-align: middle;
	padding: 2px;
	cursor: pointer;
}
.startScreen_mobilelink_22_link_wrapper > .startScreen_mobilelink_22,
.startScreen_mobilelink_22_link_wrapper > .startScreen_mobilelink_22:hover,
.startScreen_mobilelink_22_link_wrapper > .startScreen_mobilelink_22:active,
.startScreen_mobilelink_22_link_wrapper > .startScreen_mobilelink_22:visited {
	text-decoration: none; font-weight: normal; font-style: italic; color: #181a1c; text-align: center; font-family: Georgia; font-size: 15px;
}
/* mobilefooter1 */
.startScreen_mobilefooter1 {
	min-height:38px;
}