
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.2/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer1 */
.ui-content.startScreen_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobilebutton_2 */
#startScreen_mobilebutton_2 {

}
.ui-btn.startScreen_mobilebutton_2 {
	margin: 4px 5px 4px 5px;
}
/* mobilebutton_3 */
#startScreen_mobilebutton_3 {

}
.ui-btn.startScreen_mobilebutton_3 {
	margin: 4px 5px 4px 5px;
}
/* mobilebutton_19 */
#startScreen_mobilebutton_19 {

}
.ui-btn.startScreen_mobilebutton_19 {
	margin: 4px 5px 4px 5px;
}
/* mobilebutton_4 */
#startScreen_mobilebutton_4 {

}
.ui-btn.startScreen_mobilebutton_4 {
	margin: 4px 5px 4px 5px;
}
/* mobilelink_22 */
.startScreen_mobilelink_22 {
	margin: 30px 0px 4px 0px;
	display: block;
	vertical-align: middle;
	padding: 2px;
	cursor: pointer;
}
.startScreen_mobilelink_22_link_wrapper > .startScreen_mobilelink_22,
.startScreen_mobilelink_22_link_wrapper > .startScreen_mobilelink_22:hover,
.startScreen_mobilelink_22_link_wrapper > .startScreen_mobilelink_22:active,
.startScreen_mobilelink_22_link_wrapper > .startScreen_mobilelink_22:visited {
	text-decoration: none; font-weight: normal; font-style: italic; color: #181a1c; text-align: center; font-family: Georgia; font-size: 15px;
}
/* mobilefooter1 */
.startScreen_mobilefooter1 {
	min-height:38px;
}
/* panel_23 */
.startScreen_panel_23 .ui-panel-inner {
	padding: 15px 15px 15px 15px;
}
.startScreen_panel_23:focus {
	outline: 0;
}
/* mobileimage_45 */
.startScreen_mobileimage_45 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobileimage_46 */
.startScreen_mobileimage_46 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegrid_24 */
.startScreen_mobilegrid_24 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.startScreen_mobilegrid_24 > tr > td {
	vertical-align: top;
}
.startScreen_mobilegrid_24_row_0, .startScreen_mobilegrid_24_row_0 > td {
	height: 30px
}
.startScreen_mobilegrid_24_row_1, .startScreen_mobilegrid_24_row_1 > td {
	height: 30px
}
.startScreen_mobilegrid_24_row_2, .startScreen_mobilegrid_24_row_2 > td {
	height: 30px
}
.startScreen_mobilegrid_24_row_3, .startScreen_mobilegrid_24_row_3 > td {
	height: 30px
}
.startScreen_mobilegrid_24_row_4, .startScreen_mobilegrid_24_row_4 > td {
	height: 30px
}
.startScreen_mobilegrid_24_row_5, .startScreen_mobilegrid_24_row_5 > td {
	height: 30px
}
.startScreen_mobilegrid_24_row_6, .startScreen_mobilegrid_24_row_6 > td {
	height: 30px
}
.startScreen_mobilegrid_24_row_7, .startScreen_mobilegrid_24_row_7 > td {
	height: 30px
}
.startScreen_mobilegrid_24_row_8, .startScreen_mobilegrid_24_row_8 > td {
	height: 30px
}
.startScreen_mobilegrid_24_row_9, .startScreen_mobilegrid_24_row_9 > td {
	height: 30px
}
/* mobilegridcell_25 */
.startScreen_mobilegridcell_25 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_25 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_47 */
.startScreen_mobileimage_47 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobileimage_48 */
.startScreen_mobileimage_48 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_27 */
.startScreen_mobilegridcell_27 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_27 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_29 */
.startScreen_mobilegridcell_29 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_29 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_31 */
.startScreen_mobilegridcell_31 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_31 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_33 */
.startScreen_mobilegridcell_33 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_33 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_35 */
.startScreen_mobilegridcell_35 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_35 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_37 */
.startScreen_mobilegridcell_37 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_37 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_39 */
.startScreen_mobilegridcell_39 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_39 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_41 */
.startScreen_mobilegridcell_41 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_41 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_43 */
.startScreen_mobilegridcell_43 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_43 > .cell-wrapper {
	padding: 0;
	margin: 0;
}