
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.2/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer1 */
.ui-content.startScreen_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobilebutton_2 */
#startScreen_mobilebutton_2 {

}
.ui-btn.startScreen_mobilebutton_2 {
	margin: 4px 5px 4px 5px;
}
/* mobilebutton_3 */
#startScreen_mobilebutton_3 {

}
.ui-btn.startScreen_mobilebutton_3 {
	margin: 4px 5px 4px 5px;
}
/* mobilebutton_4 */
#startScreen_mobilebutton_4 {

}
.ui-btn.startScreen_mobilebutton_4 {
	margin: 4px 5px 4px 5px;
}
/* googlemap_5 */
.startScreen_googlemap_5 {
	width: 320px; height: 200px;
	margin: 4px 0px 4px 0px;
}
/* marker_6 */
.startScreen_marker_6 {
	text-shadow:none;
	color:black;
	font-family:Arial;
}
/* mobilefooter1 */
.startScreen_mobilefooter1 {
	min-height:38px;
}